body{
	margin:0;
	padding:0;
	background-color:#000000;
	position:relative;
	box-sizing:border-box;
	
	color:#fff;
	font-size:20px;
}
.dark-mode {
  background-color:#3b4252;
color: white;
}
.clear{
	overflow:hidden;
	clear:both;
}
.header{
	height:800px;
	width:100%;
	background-image:url(image11s.jpg);
	background-size:cover;
	
}
.top-area{
	position:fixed;
	top:0;
	left:0;
	right:0;
	background:RGB(52, 58, 64,.7);
	z-index:9999;
}
.top-area .logo-area{
	float:left;
	height:20px;
	width:5%;
}
.top-area .logo-area img{
	height: 40px;
width: 71px;
margin-left: 95px;
margin-top: 19px;
}

.top-area .header-menu{
	overflow: hidden;
margin: 10px;
padding-left: 84px;
}
.top-area .header-menu ul{
	list-style:none;
	display:block;
}
.top-area .header-menu ul li{
	float: left;
margin-left:5%;
}


.top-area .header-menu ul li a{
	text-decoration:none;
    font-size:1rem;
	border:2px solid #a5d8ff;
}
.header-content{
margin-top: 122px;
margin-left: 95px;
padding-top:130px;
}
.header-content a{
	border: 2px solid #00fa9a;
	border-radius:5px;
}
#t{
	color:#66d9e8;
	font-size:2rem;
}
.about{
	text-align:center;
	padding:20px;
	width:90%;
	margin:0 auto;
}
.about img{
	height:350px;
	width:350px;
	border-radius:50%;
}
.cv{
	height: 252px;
width: 456px;
border: 2px solid #484848;
margin: 10px auto;
}
.cv a{
	text-decoration:none;
	border:2px solid #f8f0fc;
	
	padding:10px;
}
.services{
	text-align:center;
	padding:20px;
	width:100%;
}
.services .web{
	border: 2px solid #7950f2;
width: 420px;
margin: 30px 121px;
float: left;
padding: 45px;
background:RGB(76, 86, 106,.5);
border-radius:10px;
box-shadow: 10px 10px 15px #b197fc,inset -5px -5px 15px #2e3440;
}
.services .web1{
	border: 2px solid #7950f2;
width: 420px;
margin: 30px 121px;
float: left;
padding: 45px;
background:RGB(255, 236, 153,.5);
border-radius:10px;
box-shadow: 10px 10px 15px #ffa94d,inset -5px -5px 15px #2e3440;
}                    
.web a{
	text-decoration:none;
	border:2px solid #f8f0fc;
	
	padding:10px;
}
.my-skills{

	text-align:center;
	float:left;
	width:50%;
	margin:20px auto;
	}

	.container { 
        background-color: rgb(192, 192, 192); 
        width: 80%; 
        border-radius: 15px; 
    } 
  
    .skill { 
        background-color: rgb(116, 194, 92); 
        color: white; 
        padding: 1%; 
        text-align: right; 
        font-size: 20px; 
        border-radius: 15px; 
    } 
  
    .html { 
        width: 80%; 
    } 
  
    .php90 { 
        width: 90%; 
    } 
	.php80 { 
        width: 80%; 
    } 
	.php85 { 
        width: 85%; 
    } 
	.php95 { 
        width: 95%; 
    } 
.contact{
	
	padding:20px;
	text-align:center;
}
.contact h1{
	margin:0;
	
}

.message-box{
	text-align:center;
	float:left;
	width:100%;
	margin-left:40px;
}
.message-box input {
	width: 208px;
margin: 10px;
padding: 10px;
border: 2px solid yellow;
background: #ddd;
border-radius:10px;

}
.message-box .message{
	width: 383px;
height: 105px;
}

.message-box button{
	padding:5px 10px;
	color:red;
	background:#fbd4f2;
	border-radius:5px;
}

.footer{
	text-align:center;
	margin:10px 40px;
}
.footer ul{
	list-style:none;
	display:block;
}
.footer ul li{
	float: left;
margin-left:5%;

}
.footer ul li a{
	text-decoration:none;
   border-radius:15px;
 background:red;
}
a{
	position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #2196f3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    overflow: hidden;
    transition: 0.2s;
}

a:hover
{
    color: #fff;
    background: #2196f3;
	border-radius:15px;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: .1s;
}

.floating { 
	animation-name: floating; 
	animation-duration: 2s; 
	animation-iteration-count: infinite; 
	animation-timing-function: ease-in-out; 
	margin-left: 30px; 
	margin-top: 5px; 
	
} 
@keyframes floating { 
	0% { transform: translate(0, 0px); } 
	50% { transform: translate(0, 20px); } 
	100% { transform: translate(0, -0px); }	 
} 
 
#theme{
	height: 40px;
width: 70px;
border-radius: 5px;
position: fixed;
left: 10px;
top: 90px;
background: #fe9272;
box-shadow: 2px 2px 5px #b197fc,inset -2px -2px 5px #2e3440;
color: #d3ffce;
}
@media screen and (min-width:0px) and (max-width:1570px){
	
	
	.service{
		margin:0;
		padding:0;
		text-align:center;
	}
	.services .web,.services .web1{
     width:37%;
    margin:0px;
	height:237px;
     float: left;
     margin:5px;
     }
	
	
	
}
@media screen and (min-width:0px) and (max-width:1000px){
	.top-area .header-menu ul li,.footer ul li{
		margin-left:2%;
	}
}
@media screen and (min-width:0px) and (max-width:830px){
	body{
		font-size:15px;
	}
	.top-area .header-menu ul li,.footer ul li{
		margin-left:0;
	}
	.services .web,.services .web1{
     width:32%;
    margin:0px;
	height:237px;
     float: left;
     margin:5px;
     }
	 a{
		padding:2px; 
	 }
}
@media screen and (min-width:0px) and (max-width:650px){
	a,.top-area .header-menu ul li a{
		font-size:10px;
	}
	.top-area .header-menu ul li,.footer ul li{
		margin-left:2%;
	}
	.services .web,.services .web1{
     width:100%;
     }
	
}








